.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  padding: 0 10rem;
  gap: 0.5rem;
}

.login-box {
  width: 500px;
  height: 70vh;
  padding: 4rem 2rem 2rem 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box h1 {
  font-size: 31px;
  margin-bottom: 0.25rem;
}

.login-box p {
  margin-bottom: 2rem; /* Leve redução */
  font-size: 16px;
  color: #333;
}

.login-box label {
  font-size: 16px;
  margin-bottom: 0.1rem;
  display: block;
}

.input-group {
  margin-bottom: 1rem;
}

.login-box input[type="email"],
.login-box input[type="password"],
.login-box input[type="text"] {
  width: 100%;
  padding: 0.6rem 0.75rem;
  padding-right: 2rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: Poppins, sans-serif;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding: 0.6rem 0.75rem;
  padding-right: 2rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.eye-button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-bottom: 1.5rem; /* Leve redução */
}

button {
  width: 100%;
  padding: 0.75rem; /* Reduzido */
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.forgot-password {
  font-size: 14px;
}

.register-link {
  margin-top: 1.5rem; /* Leve redução */
  text-align: center;
  font-size: 13px;
  color: #444;
}

.register-link a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.illustration {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(60px);
}

.illustration img {
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 90vh;
}

input,
button,
.eye-button {
  transition: all 0.2s ease-in-out;
}

input:focus {
  outline: 2px solid #363646;
  outline-offset: 1px;
  box-shadow: 0 0 0 4px rgba(59, 59, 73, 0.2);
}

.eye-button:hover {
  color: #ffffff;
}

button:hover {
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: scale(0.98);
  box-shadow: none;
}

.forgot-password:hover,
.register-link a:hover {
  color: #363646;
  text-decoration: underline;
}
